*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
a{color: skyblue;}

.progress-bar{
    background-color: skyblue;
    height: 5px;
    margin-top: 20px;
}
.output{
    padding: 1rem;
    width: 500px;
}